<article class="headline">
    <h1>加入我们，来玩Firefox拓展吧！</h1>
    <h2 class="article-left">什么是Firefox拓展？</h2>
    官方地说，Firefox拓展是对Mozilla Firefox浏览器的功能增强插件。<br>
    简而言之，就是你感觉某个网站做的不好，用的不爽，或者功能不够的时候，抄起自己写的插件，让自己用的舒心！<br>
    <h2 class="article-left">先尝试一下？</h2>
    <h3 class="article-left">哔哩哔哩助手</h3>
    B站，不用多说了吧<br>
    <img src="/static/image/article/introduction/bilibili-helper-screenshot1.png"
         alt="小窗口播放视频，夜间模式开启，插件窗口中含有下载链接和弹幕列表">
    <img src="/static/image/article/introduction/bilibili-helper-screenshot2.png"
         alt="显示出用户名的插件窗口"><br>
    大概看看就可以发现这些功能:<br>
    <ul>
        <li>黑色背景（夜间模式）</li>
        <li>视频下载</li>
        <li>小窗口播放</li>
        <li>弹幕发送者查询</li>
        <li>…………</li>
    </ul>
    除此之外，还有自动签到领硬币，自动银瓜子换硬币，Up主更新推送等等功能……<br>
    这样一个B站，你喜欢吗？<br>
    <a href="https://addons.mozilla.org/zh-CN/firefox/addon/bilihelper/">(点此转到Mozilla安装)</a><br>
    <br>
    <br>

    <h3 class="article-left">广告屏蔽插件:uBlock Origin</h3>
    相信大家一定不想在浏览网页的时候看到一个船新版本的贪玩蓝月等你来玩。<br>
    <img src="/static/image/article/introduction/ublock-screenshot1.png" alt="未使用uBlock，有许多贴片广告">
    <img src="/static/image/article/introduction/ublock-screenshot2.png" alt="使用uBlock，基本没有广告">
    <br>
    虽然网页里面也是贪玩蓝月，但那总比边上有人解说舒服多了吧~~<br>
    装上uBlock，就远离了大部分的广告！<br>
    <a href="https://addons.mozilla.org/zh-CN/firefox/addon/ublock-origin/">(点此转到Mozilla安装)</a><br>
    <h2 class="article-left">这些东西，我们学了之后也能做出来吗？</h2>
    诚实地说，以上2个插件都不是一个两个人几天或几个月可以肝出来的东西。毕竟那些拓展都有不小的用户量，开发工程量也很大。<br>
    但是，几个人，几个星期，足够我们做一些能够让我们自己更加实用的拓展了。<br>
    思考一下，平时上网的时候，是不是有些网站使用很麻烦，重复而无趣呢？<br>
    你需要来学习Firefox拓展！<br>
    <h1>现在就加入我们吧！</h1>
</article>