<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styles/main.css" type="text/css">
    <title>{{ title }}-ITCSO-信息技术与计算机科学兴趣小组-北京师范大学·珠海</title>
    <link rel="icon" type="image/x-icon" href="/static/image/logo.png"/>
</head>
<body>
<header>
    <div class="page-title">
        <a href="/" class="page-title-link link-no-line">
            <img src="/static/image/logo.png" class="page-title-logo" alt="Organization Logo">
            <p class="page-title-text title-text">北京师范大学（珠海）信息学兴趣小组</p>
        </a>
    </div>
    <nav class="page-nav">
        <ul class="page-nav-list">
            <li class="nav-element"><a class="link-no-line title-text"
                                       href="/pages/introduction.html">活动介绍</a></li>
            <li class="nav-element split-line">|</li>
            <li class="nav-element"><a class="link-no-line title-text"
                                       href="/pages/recruit.html">招新计划</a></li>
            <li class="nav-element split-line">|</li>
            <li class="nav-element"><a class="link-no-line title-text"
                                       href="/pages/technology.html">技术服务</a></li>
        </ul>
    </nav>
</header>
<main>
    {% include content ignore missing %}
</main>
<footer>
    <ul class="bottom-paragraph title-text">
        <li class="bottom-paragraph">
            ©版权所有 北京师范大学珠海校区信息学兴趣小组
        </li>
        <li class="split-line">|</li>
        <li class="bottom-paragraph">
            地址: 广东省珠海市金凤路18号
        </li>
        <li class="split-line">|</li>
        <li class="bottom-paragraph">
            联系方式：<a href="mailto:LiHao@bnu-itcso.org.cn" class="ascii-text link-no-line">LiHao@bnu-itcso.org.cn</a>
        </li>
    </ul>
</footer>
</body>
</html>

