<article class="headline">
    <h1>明智的你，来到了这个页面</h1>
    如果你有意向加入我们，请往下看：
    <h2 class="article-left">如何加入你们？</h2>
    正规的加入方式在返校之后。由于疫情，具体日期暂时不能确定。<br>
    届时将会在校园中另行通知。<br>
    如果你想在正式加入之前进一步了解我们，请给
    <a href="mailto:LiHao@bnu-itcso.org.cn">LiHao@bnu-itcso.org.cn</a>发邮件<br>
    或者加微信：<br><img class="exsmall-img" src="/static/image/ZXHY-QRcode.png" alt="微信号:tom_9163">
    <h2 class="article-left">你们的活动是什么？</h2>
    请参考“<a href="introduction.html">活动介绍</a>”页面。<br>
    <h2 class="article-left">有什么基础要求吗？</h2>
    这取决于报名人数。<br>
    然而无论报名人数多少，最基本的要求是：<br>
    <ul>
        <li>
            计算机，有其一即可：
            <ul class="none-list-point">
                <li>笔记本电脑</li>
                <li>台式机</li>
                <li>Windows-10平板电脑（带键盘，即Surface&nbsp;Book或者Surface&nbsp;Pro带键盘）</li>
                <li>不能是：</li>
                <li>iPad，无论是否带键盘</li>
                <li>安卓平板，无论是否带键盘</li>
                <li>Windows-10平板电脑，不带键盘</li>
                <li>智能手机</li>
            </ul>
        </li>
        <li>一颗好学的心</li>
        <li>细心与耐心</li>
    </ul>
    <h1>期待你的加入！</h1>
</article>