<link rel="stylesheet" type="text/css" href="/static/styles/technology.css">

<article class="headline">
    <h1>技术服务</h1>
    <h3>开发文档</h3>
    <div class="article-list-left">
        <ul class="article-list none-list-point">
            <li class="article-list-element">
                <a class="article-list-element-link"
                   href="technology/FF-install-and-versions.html">
                    Firefox安装与各个版本问题
                </a>
            </li>
            <li class="article-list-element">
                <a class="article-list-element-link"
                   href="technology/FF-addons-install.html">
                    Firefox拓展安装方法
                </a>
            </li>
            <li class="article-list-element">
                <a class="article-list-element-link"
                   href="technology/FF-devtools-tutorial.html">
                    Firefox开发者工具使用入门
                </a>
            </li>
        </ul>
    </div>
    <div class="article-list-right">
        <ul class="article-list none-list-point">
            <li class="article-list-element">
                <a class="article-list-element-link"
                   href="https://developer.mozilla.org/zh-CN/docs/Mozilla/Add-ons"
                target="_blank">
                    Firefox拓展开发文档-官方中文(外部链接)
                </a>
            <li class="article-list-element">
                <a class="article-list-element-link"
                   href="https://extensionworkshop.com/" target="_blank">
                    Firefox拓展开发文档-英文总站(外部链接)
                </a>
            </li>
            <li class="article-list-element">
                <a class="article-list-element-link"
                   href="https://developer.mozilla.org/zh-CN/docs/learn" target="_blank">
                    网页开发技术初学者教程 (外部链接)
                </a>
            </li>
            <li class="article-list-element">
                <a class="article-list-element-link"
                   href="https://developer.mozilla.org/zh-CN/docs/Web">
                    Web开发技术参考(外部链接)
                </a>
            </li>
        </ul>
    </div>
</article>