<article class="headline">
    <h1>Firefox开发者工具使用入门</h1>
    <h2>开发者工具在哪？</h2>
    在任意页面，使用Ctrl+Shift+I或者F12键打开，如图：<br>
    <img class="exlarge-img" src="/static/image/article/technology/ff-devtool-tutorial/toolsoverview.jpg"
         alt="Firefox开发者工具在本站主页上的截图">
    <h2>我该如何使用它？</h2>
    第一次打开这个工具，你很可能被它复杂的界面和代码吓到。<br>
    不要怕！<br>
    且不提那些代码其实并不难，我们要用的工具，也只有其中的3-4个而已。<br>
    页面查看器（查看器）、Web控制台（控制台）、JavaScript调试器（调试器）、网络监视器（网络，不一定用到）<br>
    这就足够了。
    如果你想查看更加详细的文档，请参考：
    <a href="https://developer.mozilla.org/zh-CN/docs/Tools">https://developer.mozilla.org/zh-CN/docs/Tools</a>
    <br>
    （其中部分内容略有过时，但不影响使用）<br>
    请记住：不需要完全掌握所有的工具才能开始学习，
    你只需要会打开它，就可以开始自己摸索。<br>
    在深挖开发者工具之前，请先学习一部分Web开发的基础知识，
    包括HTML和CSS（对应“查看器”工具）和Javascript（对应“控制台”和“调试器”工具）<br>
    遇到困难的时候，可以参考文档。这足够了！<br>
    不用担心开发者工具会破坏你辛苦写的代码！
    只要一刷新，所有的修改都将消失！当然，也因为这一点，不建议你在开发者工具中写代码。
</article>