<article class="headline">
    <h1>Firefox安装与各个版本问题</h1>
    <h2 class="article-left">先来聊聊版本问题</h2>
    众所周知，许多软件都有“中国版”。往往这些版本，都夹带了许多“私货”，譬如广告、捆绑流氓软件。
    要么就是运行速度低，代码质量差。Firefox也有“中国版”。其问题在于与国际版拓展的兼容性不那么好，并且也有预装
    的广告插件与收藏夹。<br>
    为了确保我们拓展的兼容性，请大家安装<strong>国际版</strong>的Mozilla Firefox。<br>
    如果你已经安装有Firefox，可以如下图操作，检查是否为国际版。<br>
    <figure>
        <img src="/static/image/article/technology/ff-install-and-versions/screenshot1.jpg"
             class="exlarge-img" alt="查看Firefox版本方法">
        <img src="/static/image/article/technology/ff-install-and-versions/screenshot2.jpg"
             class="exlarge-img" alt="Firefox的关于页面">
        <figcaption>如图，进入帮助-关于Firefox。本图为国际版。<br>
            若出现“谋智”等信息，则为中国版，未出现则为国际版
        </figcaption>
    </figure>
    这里也可以看到Firefox的版本号，如图是73.0版本，即写本文时的最新版本。
    为了保证功能齐全，请尽可能更新到新版本。建议版本在69.0以上。
    <h2 class="article-left">如何安装？</h2>
    没有什么特别之处，前往<a href="https://www.mozilla.org/zh-CN/firefox/new/">
    https://www.mozilla.org/zh-CN/firefox/new/</a>即可。<br>
    此链接将提供一个在线下载器，若在线下载速度过慢，请点击下方“高级安装选项和其他平台”，选择对应的版本下载。如图：<br>
    <img src="/static/image/article/technology/ff-install-and-versions/screenshot3.jpg"
         alt="高级安装选项和其他平台位置">
    <h3 class="article-left">什么是对应的版本？</h3>
    一般来说，非苹果电脑（Mac），且机器较新、或者知道自身电脑为64位的，选择Windows&nbsp;64-bit即可;<br>
    苹果电脑选择macOS即可，无32、64位之分;<br>
    不确定机器是32位还是64位的，选择Windows&nbsp;32-bit即可。
    当然，你可以先了解自己的计算机是32位还是64位的。具体步骤请自行搜索。<br>
    其他机型也请自行搜索。<br>
</article>